
@{
    ViewData["Title"] = "Index";
}

<ul>
    <li>
        NameLastname : @ViewBag.StudentName + @ViewBag.StudentLastName
    </li>
    <li>
        Age : @ViewBag.Age
    </li>

    <li>
        Description : @ViewBag.Description
    </li>
</ul>

<h1>Index</h1>

